<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Clima</title>
    <link rel="stylesheet" href="../statics/styles.css">
</head>
<body>
    <div class="logo">
    <img src="../statics/images/clima.png" alt="Logo clima">
    </div>
    <header>
        <h1>API Clima - OpenWeather</h1>
        <p>Ingresa el nombre de tu ciudad para ver el clima actual.</p>
    </header>

    <main>
        <section class="clima-form">
            <input type="text" id="ciudad" placeholder="Escribe tu ciudad">
            <button id="buscar">Buscar clima</button>
        </section>

        <section class="clima-result" id="resultado">
            <!-- Aquí aparecerá el clima -->
        </section>

        <button onclick="location.href='index.html'">Inicio</button>
    </main>

    <footer>
        <p>Proyecto realizado por Eduardo Aranda - 18/11/2025</p>
    </footer>

    <script src="../js/clima.js"></script>
</body>
</html>
